
  <!-- Section: about -->
    <section id="about" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow fadeInDown" data-wow-delay="0.3s">
          <div class="section-heading">
          <h2>Speakers</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
       </div>
       </div>
    </div>
    </div>

    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

<!-- ROW ONE: 0.5s -->

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Jared Lander</h5>
                        <p class="subtitle">Author,<br>R for Everyone</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lander-Jared.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Rachel Schutt</h5>
                        <p class="subtitle">Chief Data Scientist,<br>News Corp</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/rachel_s.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Simon Urbanek</h5>
                        <p class="subtitle">Researcher,<br>AT&T Labs</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/simon_u.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Adi Haviv</h5>
                        <p class="subtitle">Applied Research Manager,<br>eBay</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/adi.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>




        </div>
    </div>


    <div class="container">
      <div class="row">

<!-- ROW ONE: 0.5s -->

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Jared Lander</h5>
                        <p class="subtitle">Author,<br>R for Everyone</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lander-Jared.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Rachel Schutt</h5>
                        <p class="subtitle">Chief Data Scientist,<br>News Corp</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/rachel_s.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Simon Urbanek</h5>
                        <p class="subtitle">Researcher,<br>AT&T Labs</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/simon_u.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Adi Haviv</h5>
                        <p class="subtitle">Applied Research Manager,<br>eBay</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/adi.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>




        </div>
    </div>



  </section>
