
  <!-- Section: about -->
    <section id="about" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.3s">
          <div class="section-heading">
          <h2>Speakers</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
       </div>
      </div>
      </div>
    </div>
    </div>

    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

<!-- ROW ONE: 0.5s -->

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Jared Lander</h5>
                        <p class="subtitle">Author,<br>R for Everyone</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lander-Jared.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Rachel Shutt</h5>
                        <p class="subtitle">Chief Data Scientist,<br>News Corp</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/rachel_s.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Simon Urbanek</h5>
                        <p class="subtitle">Researcher,<br>AT&T Labs</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/simon_u.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Adi Haviv</h5>
                        <p class="subtitle">Applied Research Manager,<br>eBay</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/adi.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>

<!-- ROW TWO: 0.6s -->

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.4s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Josh Katz</h5>
                        <p class="subtitle">Graphics Editor,<br>The New York Times</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/josh_k.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>

         <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.4s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Andrew Gelman</h5>
                        <p class="subtitle">Statistics Professor,<br>Columbia University</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Andy-Gelman-Small.jpg" alt="" class="img-responsive img-circle" /></div>
                  </div>
                </div>
              </div>
            </div>

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.4s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Hilary Parker</h5>
                        <p class="subtitle">Senior Data Analyst,<br>Etsy, Inc.</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Parker-Hilary.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.4s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>JJ Allaire</h5>
                        <p class="subtitle">Founder,<br>RStudio</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/j_a.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>




<!-- ROW THREE: 0 SEC -->


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
    <!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Vivian Peng</h5>
                        <p class="subtitle">Visual Artist,<br>Médecins Sans Frontières (MSF)</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Peng-Vivian.jpg" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
    <!-- </div> -->
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!--           <div class="wow fadeInUp" data-wow-delay="0.4s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Nathan Stephens</h5>
                        <p class="subtitle">Solutions Engineering,<br>RStudio</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/nathan_s.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
<!--           </div> -->
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
    <!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Todd Schneider</h5>
                        <p class="subtitle">Engineering,<br>Genius</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/todd_s.jpg" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
    <!-- </div> -->
        </div>


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
    <!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Alp Kucukelbir</h5>
                        <p class="subtitle">Data Scientist,<br>Columbia University</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/alp_k.jpg" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
    <!-- </div> -->
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
    <!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Sandy Griffith</h5>
                        <p class="subtitle">Biostatistician,<br>Flatiron Health</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/sandy_g.jpg" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
    <!-- </div> -->
        </div>



<!-- ROW FOUR: 0 SEC -->


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
    <!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Niels Bantilan</h5>
                        <p class="subtitle">Data Scientist,<br>Pegged Software</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/niels_b.jpg" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
    <!-- </div> -->
        </div>


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
    <!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Daniel Chen</h5>
                        <p class="subtitle">PhD Candidate,<br>Virginia Tech</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Chen-Daniel.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
    <!-- </div> -->
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
    <!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Max Kuhn</h5>
                        <p class="subtitle">Director of Nonclinical Statistics,<br>Pfizer R&D</p><div class="avatar"><img src="http://rd.work-bench.com/images/Kuhn-Max.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
    <!-- </div> -->
        </div>


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
    <!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Joe Rickert</h5>
                        <p class="subtitle">Community Manager<br>Microsoft</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Rickert-Joe.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
    <!-- </div> -->
        </div>


<!-- ROW Five: 0 SEC -->


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Bryan Lewis</h5>
                        <p class="subtitle">Chief Data Scientist,<br>Paradigm4</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lewis-Bryan.jpg" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
          </div>
<!--         </div> -->

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Stefan Karpinski</h5>
                        <p class="subtitle">Co-Creater,<br>Julia</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/karpinski_stefan.png" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
          </div>
<!--         </div> -->


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
    <!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Ben Lerner</h5>
                        <p class="subtitle">Partner,<br>Caffeinated Analytics</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/ben_l.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
    <!-- </div> -->
        </div>



        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
    <!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Daniel Lee</h5>
                        <p class="subtitle">Research Scientist,<br>Columbia University</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/daniel_l.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
    <!-- </div> -->
        </div>


<!-- ROW Six: 0 SEC -->


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
    <!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Matt Dowle</h5>
                        <p class="subtitle">Hacker,<br>H2O</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/matt_d.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
    <!-- </div> -->
        </div>


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
    <!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Wes McKinney</h5>
                        <p class="subtitle">Creator,<br>Pandas</p>
                         <div class="avatar"><img src="http://rd.work-bench.com/images/McKinney-Wes.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
    <!-- </div> -->
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
    <!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Drew Conway <br> </h5>
                        <p class="subtitle">CEO,<br>Alluvium</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/drew-conway.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
    <!-- </div> -->
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
    <!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Ivor Cribben</h5>
                        <p class="subtitle">Assistant Professor,<br>University of Alberta</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/ivor_c.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
    <!-- </div> -->
        </div>



        </div>
    </div>
  </section>
