
  <!-- Section: about -->
    <section id="about" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow fadeInDown" data-wow-delay="0.3s">
          <div class="section-heading">
          <h2>Speakers</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
       </div>
       </div>
    </div>
    </div>

    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

<!-- ROW ONE: 0.5s -->

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Serge Belongie<br></h5>
                        <p class="subtitle">Professor,<br>Cornell</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/serge_belongie.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Reenah Nahum</h5>
                        <p class="subtitle">Lead Data Scientist,<br>Bidalgo</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/reenah.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Julia Silge</h5>
                        <p class="subtitle">Data Scientist<br>Stack Overflow</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Julia-Silge.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Jared Lander</h5>
                        <p class="subtitle">Chief Data Scientist,<br>Lander Analytics</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lander-Jared.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>




        </div>
    </div>


<!-- NEW ROW ONE: 0.5s -->
    <div class="container">
      <div class="row">


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Daniel Chen</h5>
                        <p class="subtitle">PhD Candidate,<br>Virginia Tech</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Chen-Daniel.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Jon Keane</h5>
                        <p class="subtitle">Data Scientist,<br>Mattersight</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/jon-keane.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Dan Whitenack</h5>
                        <p class="subtitle">Data Scientist,<br>Pachyderm</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/daniel.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Mike Malecki</h5>
                        <p class="subtitle">Product Manager,<br>Crunch.io</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/mike_malecki.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>



        </div>
    </div>
<!-- END ROW -->



<!-- NEW ROW ONE: 0.5s -->
    <div class="container">
      <div class="row">


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Neal Richardson</h5>
                        <p class="subtitle">Chief Product Officer,<br>Crunch.io</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/neal_richardson.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Kelly O’Briant</h5>
                        <p class="subtitle">Data Scientist,<br>B23</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/OBriant-Kelly.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Michael Kane</h5>
                        <p class="subtitle">Researcher,<br>AT&T Labs</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Kane-Michael.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Ricardo Bion</h5>
                        <p class="subtitle">Data Science Manager,<br>Airbnb</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Bion-Ricardo.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>



        </div>
    </div>
<!-- END ROW -->


<!-- NEW ROW ONE: 0.5s -->
    <div class="container">
      <div class="row">


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Sandy Griffith</h5>
                        <p class="subtitle">Biostatistician,<br>Flatiron Health</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/sandy_g.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Friederike Schüür</h5>
                        <p class="subtitle">Data Scientist,<br>Fast Forward Labs</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Friederike.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Ramnath Vaidyanathan</h5>
                        <p class="subtitle">Data Scientist,<br>Alteryx</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/ramnath.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Deborah Berebichez</h5>
                        <p class="subtitle">Chief Data Scientist,<br>Discovery Channel</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/deborah.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>



        </div>
    </div>
<!-- END ROW -->


<!-- NEW ROW ONE: 0.5s -->
    <div class="container">
      <div class="row">


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>David Robinson</h5>
                        <p class="subtitle">Data Scientist,<br>Stack Overflow</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/David-Robinson.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Noam Ross</h5>
                        <p class="subtitle">Editor,<br>ROpenSci</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Ross-Noam.jpg" alt="" class="img-responsive img-circle" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Bryan Lewis</h5>
                        <p class="subtitle">Chief Data Scientist,<br>Paradigm4</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lewis-Bryan.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
          <div class="wow fadeInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Wes McKinney</h5>
                        <p class="subtitle">Senior Vice President,<br>Two Sigma</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/McKinney-Wes.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>



        </div>
    </div>
<!-- END ROW -->

  </section>
