
  <!-- Section: about -->
    <section id="about" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>Speakers</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
       </div>
      </div>
      </div>
    </div>
    </div>

    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Daniel Chen</h5>
                        <p class="subtitle">Bioinformatics Researcher</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Chen-Daniel.jpg" alt="" class="img-responsive img-circle" /></div>


              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Jared Lander</h5>
                        <p class="subtitle">CEO,<br>Lander Analytics</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lander-Jared.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>


         <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Andrew Gelman</h5>
                        <p class="subtitle">Statistics Professor,<br>Columbia University</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Andy-Gelman-Small.jpg" alt="" class="img-responsive img-circle" /></div>
                  </div>
                </div>
              </div>
            </div>


           <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<div class="wow fadeInUp" data-wow-delay="0.6s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Saar Golde <br> </h5>
                        <p class="subtitle">Chief Data Scientist,<br>Knowledgent</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Golde-Saar.jpg" alt="" class="img-responsive img-circle" /></div>
                    </div>
                </div>
              </div>
            </div>



        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Vivian Peng</h5>
                        <p class="subtitle">Transmedia Designer</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Peng-Vivian.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Bryan Lewis</h5>
                        <p class="subtitle">Chief Data Scientist,<br>Paradigm4</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lewis-Bryan.jpg" alt="" class="img-responsive img-circle" /></div>
               </div>
              </div>
            </div>
          </div>

           <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<div class="wow fadeInUp" data-wow-delay="0.6s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Karen Moon</h5>
                        <p class="subtitle">Co-founder & CEO,<br>Trendalytics</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Moon-Karen.jpg" alt="" class="img-responsive img-circle" /></div>
                    </div>
                </div>
              </div>
            </div>


         <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Max Richman</h5>
                        <p class="subtitle">Senior Data Scientist,<br>GeoPoll</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Richman-Max.jpg" alt="" class="img-responsive img-circle" /></div>
                  </div>
                </div>
              </div>
            </div>


           <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Harlan Harris</h5>
                        <p class="subtitle">Director, Data Science<br> EAB</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Harris-Harlan.jpg" alt="" class="img-responsive img-circle" /></div>
                    </div>
<!--                 </div> -->
              </div>
            </div>




        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Hilary Parker</h5>
                        <p class="subtitle">Senior Data Analyst,<br>Etsy, Inc.</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Parker-Hilary.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
<!--         </div> -->

<!--         <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">

            <div class="team boxed-grey">
              <div class="inner">
            <h5>Daniel Lee</h5>
                        <p class="subtitle">&nbsp;</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lee-Daniel.jpg" alt="" class="img-responsive img-circle" /></div>
               </div>
              </div>
            </div>
 -->


         <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Mike Dewar</h5>
                        <p class="subtitle">Data Scientist,<br>The New York Times R&D Lab</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Dewar-Mike.jpg" alt="" class="img-responsive img-circle" /></div>
                  </div>
                </div>
              </div>
<!--             </div> -->


           <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>James Powell</h5>
                        <p class="subtitle">Organizer,<br>NYC Python</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Powell-James.jpg" alt="" class="img-responsive img-circle" /></div>
                    </div>
                </div>
              </div>
<!--             </div> -->


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Chris Wiggins</h5>
                        <p class="subtitle">Chief Data Scientist,<br>The New York Times</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Wiggins-Chris.jpg" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
          </div>
<!--         </div> -->

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Joe Rickert</h5>
                        <p class="subtitle">Community Manager<br>Revolution Analytics</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Rickert-Joe.jpg" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
          </div>
<!--         </div> -->

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Kaz Sakamoto</h5>
                        <p class="subtitle">Graduate Student,<br>Columbia University</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Sakamoto-Kaz.jpg" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
          </div>
<!--         </div> -->

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Gene Ekster</h5>
                        <p class="subtitle">Data Product Development,<br>1010Data</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Ekster-Gene.jpg" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
          </div>
<!--         </div> -->

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Michael Malecki</h5>
                        <p class="subtitle">Product Manager, Graphics <br>Crunch.io</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Malecki-Miachael.jpg" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
          </div>
<!--         </div> -->

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Shawn Simpson</h5>
                        <p class="subtitle">Senior Data Scientist,<br>Dow Jones</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/shawn-simpson.jpg" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
          </div>
<!--         </div> -->

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Max Kuhn</h5>
                        <p class="subtitle">Director of Nonclinical Statistics,<br>Pfizer R&D</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Kuhn-Max.jpg" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
          </div>
<!--         </div> -->

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Winston Chang</h5>
                        <p class="subtitle">Software Engineer,<br>RStudio</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Chang-Winston.jpg" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
          </div>
<!--         </div> -->

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Michael Kane</h5>
                        <p class="subtitle">Researcher</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/kane_michael.png" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
          </div>
<!--         </div> -->

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Wes McKinney</h5>
                        <p class="subtitle">Software Engineer,<br>Cloudera</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/McKinney-Wes.jpg" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
          </div>
<!--         </div> -->

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Julie Yoo</h5>
                        <p class="subtitle">Co-Founder,<br>Pymetrics</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/julie_yoo.png" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
          </div>
<!--         </div> -->


        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Stefan Karpinski</h5>
                        <p class="subtitle">Co-Creater,<br>Julia</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/karpinski_stefan.png" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
          </div>
<!--         </div> -->




        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Abhi Patel</h5>
                        <p class="subtitle">Context Relevant</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Abhi-Patel.jpg" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
          </div>
<!--         </div> -->

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Darren Kaplan</h5>
                        <p class="subtitle">CEO & Co-Founder<br>hiQ Labs</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Darren_Kaplan.jpg" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
          </div>
<!--         </div> -->



        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Michael Dobrovolsky</h5>
                        <p class="subtitle">Lead Architect, Morgan Stanley Wealth Management</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Dobrovolsky-Michael.jpg" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
          </div>
<!--         </div> -->

        <div class="col-xs-6 col-sm-3 col-md-3 speaker-page row-eq-height">
<!-- <div class="wow fadeInUp" data-wow-delay="0.6s"> -->
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Kristina Pecorelli</h5>
                        <p class="subtitle">Economic Analyst,<br>NYCEDC</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Pecorelli-Kristina.jpg" alt="" class="img-responsive img-circle" /></div>

              </div>
            </div>
          </div>
<!--         </div> -->


        </div>
    </div>
  </section>
