
   <section id="sponsors" class="text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>Accomodations</h2>
          <i class="fa fa-2x fa-angle-down"></i>
          <p>The Jade Hotel Greenwich Village NYC</p>
          <p><em>Mention Work-Bench For a Discount</em></p>
          <p>52 W 13th St, New York, NY</p>
          <p><a href="www.thejadenyc.com<">www.thejadenyc.com</a></p>
          <p>(212) 375-1300</p>
          </div>
          </div>
       </div>
      </div>
      </div>
    </div>


</section>
