<!-- 
   <section id="sponsors" class="text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>Accomodations</h2>
          <i class="fa fa-2x fa-angle-down"></i>
          <p><strong><a href="http://www.thejadenyc.com/" target="_blank">The Jade Hotel - Greenwich Village</a></strong></p>
          <p><em>Mention Work-Bench for a Locked-In Rate of $295 a Night</em></p>
          <p>52 W 13th St, New York, NY &bull; (212) 375-1300</p>
          </div>
          </div>
       </div>
      </div>
      </div>
    </div>


</section>
 -->


   <section id="sponsors" class="text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>Accomodations</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          <p>Accomodations Coming Soon</p>
          </div>
          </div>
       </div>
      </div>
      </div>
    </div>


</section>
