<section id="info" class="home-section text-center">

    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="wow fadeInDown" data-wow-delay="0.4s">
              <div class="section-heading">
          <h2>WHERE R ENTHUSIASTS AND DATA SCIENTISTS GATHER TO EXPLORE, SHARE, AND INSPIRE IDEAS.</h2>
          <i class="fa fa-2x fa-angle-down"></i>
              </div>
            </div>
          </div>
        </div>
     </div>
   </div>


    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

         <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.1s">
            <div class="tickets">
              <a href="https://www.eventbrite.com/e/the-2016-new-york-r-conference-tickets-21280446388" id="last-child-navbar">Buy Tickets</a>
            </div>

            <div class="date-heading">
              <h2>APRIL 8 - 9, 2016</h2>
              <p>9 AM - 5 PM</p>

              <h2 id="second-child">WORK-BENCH</h2>
              <p>110 5TH AVE, 5TH FLOOR<br>NEW YORK NY, 10011</p>
            </div>
          </div>
        </div>


         <div class="col-xs-12 col-sm-8 col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="overlay" onClick="style.pointerEvents='none'"></div>

                        <div><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12092.43691136356!2d-73.992905!3d40.737622!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6c265a6ac52d92bc!2sWork-Bench!5e0!3m2!1sen!2sus!4v1424726436589" width="80%" height="500" frameborder="0" style="border:0" pointer-events="none"></iframe></div>

          </div>
         </div>


        </div>
    </div>
</section>
