
<section id="intro" class="intro">
  <div class="brought-brand" id="anchor-hack">
        <h1>BROUGHT TO YOU BY <a href="http://www.landeranalytics.com/" target="_blank" id="brought">LANDER ANALYTICS</a> AND <a href="http://www.work-bench.com/" target="_blank" id="brought">WORK-BENCH</a></h1>
  </div>
</section>
