
<section id="intro" class="intro">
  <div class="brought-brand">
        <h1>BROUGHT TO YOU BY <a href="#" id="brought">LANDER ANALYTICS</a> AND <a href="#" id="brought">WORK-BENCH</a></h1>
  </div>
</section>
