
  <!-- Section: intro -->
    <section id="intro" class="intro">

<!--    <div class="slogan">
      <h2>WELCOME TO <span class="text_color">SQUAD</span> </h2>
      <h4>WE ARE GROUP OF GENTLEMEN MAKING AWESOME WEB WITH BOOTSTRAP</h4>
    </div> -->
<!--    <div class="page-scroll">
      <a href="#service" class="btn btn-circle">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
    </div> -->
      <div class="brought-brand">
        <h1>BROUGHT TO YOU BY <a href="#" id="brought">LANDER ANALYTICS</a> AND <a href="#" id="brought">WORK-BENCH</a></h1>
      </div>
    </section>
  <!-- /Section: intro -->
