
   <section id="sponsors" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>Logistics</h2>
          <i class="fa fa-2x fa-angle-down"></i>
          </div>
          </div>
          <p>Please plan to arrive at Work-Bench on Friday, April 24th by 8:30am</p>
       </div>
      </div>
      </div>
    </div>


</section>
