<section>
  <div id="index-wb-newsletter">
      <div id="career-wb-newsletter" class="green-2-background">
        <div class="newsletter-content">
          <h2 class='newsletter-title'>Sign Me Up To Stay In Touch</h2>
        <div class="newsletter-text">
<!--           <h4 class='avenir-demi'>Join Our Talent Network:</h4> -->
            <form id="newsletter-form-modal"
                  method="post"
                  class="form-half-width newsletter"
                  action="http://campaign.work-bench.com/t/t/s/ujjjty/">

              <input type="email"
                     id="ujjjty-ujjjty"
                     name="cm-ujjjty-ujjjty"
                     placeholder="your@email.com"
                     spellcheck='false'
                     class="email-input"/>

              <input type="submit"
                     value="Sign Me Up"
                     class="btn btn-email email-sign-up"/>
            </div>
        </form>
      </div>
    </div>
  </div>
</section>
