<section id="agenda" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>April 25</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
       </div>
      </div>
      </div>
      </div>



    <div class="container">

      <div class="row agenda-row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>8:50am - 9:00am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Opening Remarks</strong><br>Jared Lander of Lander Analytics & Jon Lehr of Work-Bench</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:00am - 9:20am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>The Data Perspective</strong><br>Mike Dewer, Data Scientist, The New York Times R&D Lab</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:25am - 9:45am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Startup Presentation</strong><br>Context Relevant</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:50am - 10:10am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Michael Dobrovolsky, Lead Architect of Enterprise Big Data Solutions and Advanced Analytics Services, Morgan Stanley Wealth Management</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>10:10am - 10:40am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Coffee & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>10:40am - 11:00am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Dashboarding with Shiny</strong><br>Winston Chang, Software Engineer at RStudio</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:05am - 11:25am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Jared Lander, CEO of Lander Analytics</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:30am - 11:50am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Paul Dix, Applied Mathematician, SciDB Array Database, Paradigm4</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:50am - 1:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Lunch & Networking</strong></p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>1:00pm - 1:20pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>htmlwidgets</strong><br>Bryan Lewis</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>1:25pm - 2:05pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Banking Panel</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>2:10pm - 2:30pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Creating and Consuming Web Services in R-land</strong><br>Mike Malecki, Product Manager, Graphics at Crunch.io</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>2:35pm - 2:55pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Chris Wiggins, Chief Data Scientist, The New York Times</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:00pm - 3:20pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Michael Kane, Associate Research Scientist in Public Health (Biostatistics), Yale</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:20pm - 3:50pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Afternoon Break & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:50pm - 4:10pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Reproducible Analysis in Production: Lessons from Etsy</strong><br>Hilary Parker, Senior Data Analyst, Etsy</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>4:15pm - 4:35pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Rachel Schutt, SVP, Chief Data Scientist, News Corp</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>4:40pm - 5:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Startup Presentation</strong><br>hiQ Labs</p>
          </div>
        </div>
      </div>


    </div>
</section>

<section id="agenda" class="text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>April 26</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
       </div>
      </div>
      </div>
      </div>



    <div class="container">

      <div class="row agenda-row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>



      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:00am - 9:20am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Leveraging RHadoop in Analyzing Multiple Myeloma Patient Timelines</strong><br>Saar Golde, Chief Data Scientist, Knowledgent</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:25am - 9:45am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Python</strong><br>James Powell</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:50am - 10:10am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Storytelling with Data Visualizations</strong><br>Vivian Peng, Transmedia Designer</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>10:10am - 10:40am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Coffee & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>10:40am - 11:00am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Startup Presentations</strong><br>Revolution</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:05am - 11:25am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>No One Knows What It's Like to Be the Bad Man: The Development Process for the Caret Package</strong><br>Max Kuhn, Director of Nonclinical Statistics, Pfizer R&D & Zachary Deane-Mayer</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:30am - 11:50am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Wes McKinney</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:50am - 1:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Lunch & Networking</strong></p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>1:00pm - 1:20pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>R for Every Survey Analysis</strong><br>Max Richman, Data Scientist</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>1:25pm - 2:05pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Andy Gelman</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>2:10pm - 2:30pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Interactive Ebloa Plots in Shiny</strong><br>Daniel Chen, Bioinformatics Researcher</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>2:35pm - 2:55pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Kaz Sakamoto & Kristina Pecorelli</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:00pm - 3:20pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Julie Yoo, Chief Scientific Officer & Co-Founder, Pymetrics</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:20pm - 3:50pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Afternoon Break & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:50pm - 4:10pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Software Architecture and Predictive Models</strong><br>Harlan Harris, Director, Data Science, EAB</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>4:15pm - 4:35pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Data Analysis with Julia & R</strong><br>Stefan Karpinski, Co-creater, Julia</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>4:40pm - 5:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Alterative Data in Institutional Investing: Common Problems Solved with R</strong><br>Gene Ekster, Director of Data Product Development, 1010Data</p>
          </div>
        </div>
      </div>


    </div>
</section>





