<section id="agenda" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>April 21, 2017</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
       </div>
      </div>
      </div>
      </div>



    <div class="container">

      <div class="row agenda-row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>




      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>8:00am - 8:50am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Breakfast & Open Registration</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>8:50am - 9:00am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Opening Remarks</strong><br>Jared Lander of Lander Analytics & Jessica Lin of Work-Bench</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:00am - 9:20am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>TBD</strong><br>Speaker TBD</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:25am - 9:45am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Fine Grained Visual Category Recognition and Perceptual Embedding</strong><br>Serge Belongie</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:50am - 10:10am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>TBD</strong><br>Reenah Nahum</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>10:10am - 10:40am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Coffee & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>10:40am - 11:00am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>TBD</strong><br>Speaker TBD</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:05am - 11:25am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>TBD</strong><br>Jared P. Lander</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:30am - 11:50am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>TBD</strong><br>Dan Chen</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:50am - 1:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Lunch & Networking</strong></p>
          </div>
        </div>
      </div>




      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>1:00pm - 1:20pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>TBD</strong><br>Speaker TBD</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>1:25pm - 2:05pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Keynote TBD</strong><br>Andrew Gelman</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>2:05pm - 2:35pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Break & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>2:35pm - 2:55pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>TBD</strong><br>Vivian Peng</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:00pm - 3:20pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>TBD</strong><br>Mike Malecki and Neal Richardson</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:25pm - 3:45pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>An R Cloud Computing Lifeline: The Missing Manual for Running R</strong><br>Kelly O’Briant</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:45pm - 4:15pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Afternoon Break & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>4:15pm - 4:35pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>TBD</strong><br>Catherine Zhou</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>4:40pm - 5:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>TBD</strong><br>Ricardo Bion</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>5:00pm - 5:10pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Closing Remarks</strong><br></p>
          </div>
        </div>
      </div>
<!-- 
      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>5:30pm - 5:50pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Reflection on the Data Science Profession</strong><br>Drew Conway, CEO, Alluvium</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>5:50pm - 6:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Closing Remarks</strong><br></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>6:15pm - 10:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Drinks @ Rubin Museum of Art</strong><br>150 W 17th St, New York, NY 10011<br>(17th and 7th Ave)</p>
          </div>
        </div>
      </div>
 -->

    </div>
</section>


<section id="agenda-day-two" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>April 22, 2017</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
       </div>
      </div>
      </div>
      </div>


    <div class="container">

      <div class="row agenda-row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>




      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:00am - 9:50am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Breakfast & Open Registration</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:50am - 10:00am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Opening Remarks</strong><br>Jared Lander of Lander Analytics & Jessica Lin of Work-Bench</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>10:00am - 10:20am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>TBD</strong><br>Speaker TBD</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>10:25am - 10:45am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>TBD</strong><br>Friederike Schüür</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>10:50am - 11:10am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>TBD</strong><br>Deborah Berebichez</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:15am - 11:35am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Enabling reproducibility at scale with R and Pachyderm</strong><br>Dan Whitenack</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:40am - 12:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Working with Nested List Data in R</strong><br>Jeremy Stanley</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>12:00pm - 1:10am</strong></p>
          </div>
        </div>


        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Lunch & Networking</strong></p>
          </div>
        </div>
      </div>




      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>1:10pm - 1:30pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>TBD</strong><br>Speaker TBD</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>1:35pm - 2:15pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Keynote TBD</strong><br>Speaker TBD</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>2:15pm - 2:45pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Break & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>2:45pm - 3:05pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>TBD</strong><br>Claudia Perlich</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:10pm - 3:30pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>TBD</strong><br>Wes McKinney</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:35pm - 3:55pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>TBD</strong><br>Julia Silge</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:55pm - 4:25pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Afternoon Break & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>4:25pm - 4:45pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>TBD</strong><br>Jenny Bryan</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>4:50pm - 5:10pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>TBD</strong><br>Speaker TBD</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>5:10pm - 5:20pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Closing Remarks</strong><br></p>
          </div>
        </div>
      </div>
<!-- 
      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>5:30pm - 5:50pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Reflection on the Data Science Profession</strong><br>Drew Conway, CEO, Alluvium</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>5:50pm - 6:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Closing Remarks</strong><br></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>6:15pm - 10:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Drinks @ Rubin Museum of Art</strong><br>150 W 17th St, New York, NY 10011<br>(17th and 7th Ave)</p>
          </div>
        </div>
      </div>
 -->

    </div>
</section>