<section id="agenda" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>April 21, 2017</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
       </div>
      </div>
      </div>
      </div>



    <div class="container">

      <div class="row agenda-row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>




      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>8:00am - 8:50am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Breakfast & Open Registration</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>8:50am - 9:00am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Opening Remarks</strong><br>Jared Lander of Lander Analytics & Jessica Lin of Work-Bench</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:00am - 9:20am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>How R Helps Airbnb Make the Most of Its Data</strong><br>Ricardo Bion, Airbnb</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:25am - 9:45am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Fine Grained Visual Category Recognition and Perceptual Embedding</strong><br>Serge Belongie, Cornell University</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:50am - 10:10am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>An R Cloud Computing Lifeline: The Missing Manual for Running R on Amazon Cloud</strong><br>Kelly O’Briant, B23</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>10:10am - 10:40am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Coffee & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>10:40am - 11:00am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>R Makes the World Go ‘Round: Data-Driven Decision Making at JetBlue</strong><br>Catherine Zhou, JetBlue</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:05am - 11:25am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Fun with R</strong><br>Jared P. Lander, Lander Analytics</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:30am - 11:50am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>So You Want to be a Data Scientist?</strong><br>Dan Chen, Virginia Tech</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:50am - 1:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Lunch & Networking</strong></p>
          </div>
        </div>
      </div>




      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>1:00pm - 1:20pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>We R What We Ask: The Landscape of R Users on Stack Overflow</strong><br>David Robinson, Stack Overflow</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>1:25pm - 2:05pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Theoretical Statistics is the Theory of Applied Statistics: How to Think About What We Do</strong><br>Andrew Gelman, Columbia</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>2:05pm - 2:35pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Break & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>2:35pm - 2:55pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>The Unreasonable Effectiveness of Empathy - The killer skill needed for a successful technical career</strong><br>JD Long, RenaissanceRe</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:00pm - 3:20pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Experience R in the Cloud: Empower Insurance Operations from Insights to Action</strong><br>Catherine Cao, IBM</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:25pm - 3:45pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>R - From Backend to Production</strong><br>Reenah Nahum Muldavski, Bidalgo</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:45pm - 4:15pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Afternoon Break & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>4:15pm - 4:35pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Things about the Future and the Future of Things</strong><br>Deborah Berebichez, Discovery Channel</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>4:40pm - 5:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>R in Financial Services: Challenges and Opportunities</strong><br>Lixun Zhang, Microsoft</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>5:00pm - 5:10pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Closing Remarks</strong><br></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>5:30pm - 6:30pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Drinks @ Rye House</strong><br>11 W 17th St, New York, NY 10011<br>(17th between 5th & 6th)</p>
          </div>
        </div>
      </div>
<!-- 
      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>5:30pm - 5:50pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Reflection on the Data Science Profession</strong><br>Drew Conway, CEO, Alluvium</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>5:50pm - 6:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Closing Remarks</strong><br></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>6:15pm - 10:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Drinks @ Rubin Museum of Art</strong><br>150 W 17th St, New York, NY 10011<br>(17th and 7th Ave)</p>
          </div>
        </div>
      </div>
 -->

    </div>
</section>


<section id="agenda-day-two" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>April 22, 2017</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
       </div>
      </div>
      </div>
      </div>


    <div class="container">

      <div class="row agenda-row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>




      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:00am - 9:50am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Breakfast & Open Registration</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:50am - 10:00am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Opening Remarks</strong><br>Jared Lander of Lander Analytics & Jessica Lin of Work-Bench</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>10:00am - 10:20am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Publication Hacking: How We Answered a Research Question and Wrote a Manuscript in Only Two Days</strong><br>Sandy Griffith, Flatiron Health</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>10:25am - 10:45am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>The Humble <strike>Programmer</strike> Data Scientist: Essence and Accident in <strike>Software Engineering</strike> Data Science</strong><br>Friederike Schüür, Fast Forward Labs</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>10:50am - 11:10am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Harnessing the Power of Javascript for Data Science</strong><br>Ramnath Vaidyanathan, Alteryx</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:10am - 11:40am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Coffee & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:40am - 12:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Using Human Mobility Data to Assess Public Circulation Health</strong><br>Michael Kane</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>12:05pm - 12:25pm</strong></p>
          </div>
        </div>


        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>From Agreeing to Marching to Organizing: OSS Needs You</strong><br>Mike Malecki and Neal Richardson</p>
          </div>
        </div>
      </div>




      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>12:25pm - 1:35pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Lunch & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>1:35pm - 1:55pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>threejs: less cruft, more awesome!</strong><br>Bryan Lewis</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>2:00pm - 2:20pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Enabling reproducibility at scale with R and Pachyderm</strong><br>Dan Whitenack</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>2:25pm - 2:40pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Building a Predictive Early Intervention System to Prevent Adverse Police Incidents</strong><br>Jon Keane, Mattersight</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>2:40pm - 3:10pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Afternoon Break & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:10pm - 3:30pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Better Packages through Peer Review: Lessons from rOpenSci.</strong><br>Noam Ross, ROpenSci</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:35pm - 3:55pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Towards Interoperable Data Frames</strong><br>Wes McKinney, Two Sigma</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>4:00pm - 4:20pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Text Mining, the Tidy Way</strong><br>Julia Silge, Stack Overflow</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>4:20pm - 4:50pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Break & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>4:50pm - 5:10pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>RStudio Tips and Tricks</strong><br>Sean Lopp, RStudio</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>5:15pm - 5:35pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Don't Let Lawyers Ruin Your Analytics</strong><br>Jim Klucar, Immuta</p>
          </div>
        </div>
      </div>
      

<!-- 

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>5:30pm - 5:50pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Reflection on the Data Science Profession</strong><br>Drew Conway, CEO, Alluvium</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>5:50pm - 6:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Closing Remarks</strong><br></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>6:15pm - 10:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Drinks @ Rubin Museum of Art</strong><br>150 W 17th St, New York, NY 10011<br>(17th and 7th Ave)</p>
          </div>
        </div>
      </div>
 -->

    </div>
</section>