<section id="agenda" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>April 8</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
       </div>
      </div>
      </div>
      </div>



    <div class="container">

      <div class="row agenda-row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>8:00am - 8:50am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Breakfast & Open Registration</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>8:50am - 9:00am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Opening Remarks</strong><br>Jared Lander of Lander Analytics & Jon Lehr of Work-Bench</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:00am - 9:20am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Analyzing NYC Transit Data</strong><br>Todd Schneider, Engineering, Genius</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:25am - 9:45am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Notebooks (and more) with R Markdown</strong><br>JJ Allaire, Founder, RStudio</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:50am - 10:10am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>One Algorithm to Rule Them All: How to Automate Statistical Computation</strong><br>Alp Kucukelbir, Data Scientist, Columbia University</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>10:10am - 10:40am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Coffee & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>10:40am - 11:00am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Rachel Schutt, Chief Data Scientist, News Corp</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:05am - 11:25am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>R for Everything</strong><br>Jared Lander, Author, R for Everyone</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:30am - 11:50am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Sandy Griffith, Biostatistician, Flatiron Health</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:50am - 1:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Lunch & Networking</strong></p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>1:00pm - 1:20pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>I Don't Want to Be a Dummy! Encoding Predictors for Trees</strong><br>Max Kuhn, Director of Nonclinical Statistics, Pfizer R&D</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>1:25pm - 1:45pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Thinking Small About Big Data</strong><br>Bryan Lewis, Chief Data Scientist, Paradigm4</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>1:50pm - 2:30pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>The Political Impact of Social Penumbras</strong><br>Andrew Gelman, Statistics Professor, Columbia University</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>2:30pm - 3:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Coffee & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:00pm - 3:20pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Broom: Converting Statistical Models to Tidy Data Frames</strong><br>David Robinson</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:25pm - 3:45pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Adi Haviv, Applied Research Manager, eBay</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:50pm - 4:10pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Testing Your Data and Code in R</strong><br>Daniel Chen, PhD Candidate, Virginia Tech</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>4:10pm - 4:40pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Afternoon Break & Networking</strong></p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>4:40pm - 5:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Wes McKinney, Creator, Pandas</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>5:05pm - 5:25pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>What We Learned Building an R-Python Hybrid Predictive Analytics Pipeline</strong><br>Niels Bantilan, Data Scientist, Pegged Software</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>5:30pm - 5:50pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Drew Conway, CEO, Alluvium</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>5:50pm - 6:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Closing Remarks</strong><br></p>
          </div>
        </div>
      </div>

    </div>
</section>


<section id="agenda" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>April 9</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
       </div>
      </div>
      </div>
      </div>



    <div class="container">

      <div class="row agenda-row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>8:00am - 8:50am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Breakfast</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>8:50am - 9:00am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Opening Remarks</strong><br>Jared Lander of Lander Analytics</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:00am - 9:20am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Real, Fake, or Stolen: Using R for Identity Verification</strong><br>David Epstein, Senior Data Scientist, Socure</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:25am - 9:45am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Inside the R Consortium</strong><br>Joe Rickert, Community Manager, Microsoft</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>9:50am - 10:10am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Vivian Peng, Visual Artist, Médecins Sans Frontières (MSF)</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>10:10am - 10:40am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Coffee & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>10:40am - 11:00am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Estimating Ability for Every MLB Player</strong><br>Daniel Lee, Research Scientist, Columbia University</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:05am - 11:25am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Gadgets, Addins, and HTML Templates</strong><br>Nathan Stephens, Solutions Engineering, RStudio</p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:30am - 11:50am</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Claire O'Connell</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>11:50am - 1:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Lunch & Networking</strong></p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>1:00pm - 1:20pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>R Packages for Time-Varying Networks and Extremal Dependence</strong><br>Ivor Cribben, Assistant Professor, University of Alberta</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>1:25pm - 1:45pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>High-Performance Python</strong><br>Ben Lerner</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>1:50pm - 2:30pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Simon Urbanek</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>2:30pm - 3:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Coffee & Networking</strong></p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:00pm - 3:20pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Hilary Parker</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:25pm - 3:45pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>TBD</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>3:50pm - 4:10pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Julia + R for Data Science</strong><br>Stefan Karpinski, Co-Creater, Julia</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>4:10pm - 4:40pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Afternoon Break & Networking</strong></p>
          </div>
        </div>
      </div>


      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>4:40pm - 5:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Latest News on data.table and H2O</strong><br>Matt Dowle, Hacker, H2O</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>5:05pm - 5:25pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>TBD</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>5:30pm - 5:50pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Talk TBD</strong><br>Josh Katz, Graphics Editor, The New York Times</p>
          </div>
        </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-4">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>5:50pm - 6:00pm</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
<p><strong>Closing Remarks</strong><br></p>
          </div>
        </div>
      </div>

    </div>
</section>





