
  <!-- Section: about -->
<section id="speakers" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>Featured Speakers</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
       </div>
      </div>
      </div>
    </div>

<div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row" style="text-align:center;">

        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Chris Wiggins</h5>
                        <p class="subtitle">Chief Data Scientist,<br>The New York Times</p>

                        <div class="avatar">

                        <a href="http://rd.work-bench.com/images/Wiggins-Chris.jpg" data-lightbox="image-1" data-title="Chris Wiggins is the Chief Data Scientist of the New York Times, where he lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu dapibus justo, eu posuere dolor. Aenean pellentesque lacus id massa vulputate dictum. In ullamcorper, libero in suscipit pulvinar, quam quam congue lectus, nec condimentum erat purus et dui. Etiam pellentesque turpis at facilisis hendrerit. Phasellus quis erat molestie, aliquet turpis eget, finibus tortor. Suspendisse vehicula imperdiet felis quis mollis. Integer enim mi, sollicitudin nec arcu ac, efficitur hendrerit nisi. Nam sed ipsum euismod, aliquam leo ut, rhoncus nunc. Duis iaculis tempor arcu, at condimentum elit maximus dignissim. Pellentesque eget ullamcorper est.">
                        <img src="http://rd.work-bench.com/images/Wiggins-Chris.jpg" alt="" class="img-responsive img-circle" /></div></a>

                        <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
<!--                             <li class="social-link"><a href="#" target="_blank"><i class="fa fa-link fa-lg"></i></a></li> -->
                        </ul>

              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Dr. Hilary Parker</h5>
                        <p class="subtitle">Senior Data Analyst,<br>Etsy, Inc.</p>

                        <div class="avatar">

                        <a href="http://rd.work-bench.com/images/Parker-Hilary_420x300_1.jpg" data-lightbox="image-2" data-title="Dr. Hilary Parker is lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu dapibus justo, eu posuere dolor. Aenean pellentesque lacus id massa vulputate dictum. In ullamcorper, libero in suscipit pulvinar, quam quam congue lectus, nec condimentum erat purus et dui. Etiam pellentesque turpis at facilisis hendrerit. Phasellus quis erat molestie, aliquet turpis eget, finibus tortor. Suspendisse vehicula imperdiet felis quis mollis. Integer enim mi, sollicitudin nec arcu ac, efficitur hendrerit nisi. Nam sed ipsum euismod, aliquam leo ut, rhoncus nunc. Duis iaculis tempor arcu, at condimentum elit maximus dignissim. Pellentesque eget ullamcorper est, in vulputate neque.">
                        <img src="http://rd.work-bench.com/images/Parker-Hilary.jpg" alt="" class="img-responsive img-circle" /></a></div>

                        <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul>

              </div>
            </div>
          </div>
        </div>

         <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Andy Gelman</h5>
                        <p class="subtitle">Statistics Professor,<br>Columbia University</p>


                        <div class="avatar">

                        <a href="http://rd.work-bench.com/images/Gelman-Andy-black-1.jpg" data-lightbox="image-3" data-title="Chris Wiggins is the Chief Data Scientist of the New York Times, where he lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu dapibus justo, eu posuere dolor. Aenean pellentesque lacus id massa vulputate dictum. In ullamcorper, libero in suscipit pulvinar, quam quam congue lectus, nec condimentum erat purus et dui. Etiam pellentesque turpis at facilisis hendrerit. Phasellus quis erat molestie, aliquet turpis eget, finibus tortor. Suspendisse vehicula imperdiet felis quis mollis. Integer enim mi, sollicitudin nec arcu ac, efficitur hendrerit nisi. Nam sed ipsum euismod, aliquam leo ut, rhoncus nunc. Duis iaculis tempor arcu, at condimentum elit maximus dignissim. Pellentesque eget ullamcorper est.">
                        <img src="http://rd.work-bench.com/images/Andy-Gelman-Small.jpg" alt="" class="img-responsive img-circle" /></a></div>

                        <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul>

                  </div>
                </div>
              </div>
            </div>

         <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Andy Gelman</h5>
                        <p class="subtitle">Statistics Professor,<br>Columbia University</p>


                        <div class="avatar">

                        <a href="http://rd.work-bench.com/images/Gelman-Andy-black.jpg" data-lightbox="image-4" data-title="Chris Wiggins is the Chief Data Scientist of the New York Times, where he lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu dapibus justo, eu posuere dolor. Aenean pellentesque lacus id massa vulputate dictum. In ullamcorper, libero in suscipit pulvinar, quam quam congue lectus, nec condimentum erat purus et dui. Etiam pellentesque turpis at facilisis hendrerit. Phasellus quis erat molestie, aliquet turpis eget, finibus tortor. Suspendisse vehicula imperdiet felis quis mollis. Integer enim mi, sollicitudin nec arcu ac, efficitur hendrerit nisi. Nam sed ipsum euismod, aliquam leo ut, rhoncus nunc. Duis iaculis tempor arcu, at condimentum elit maximus dignissim. Pellentesque eget ullamcorper est.">
                        <img src="http://rd.work-bench.com/images/Andy-Gelman-Small.jpg" alt="" class="img-responsive img-circle" /></a></div>

                        <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul>

                  </div>
                </div>
              </div>
            </div>


          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="wow fadeInUp" data-wow-delay="0.5">
              <div class="service-desc">
            <h4><a href="/speakers">See the Full List of Speakers</a></h2>

              </div>
            </div>
          </div>

        </div>
    </div>
</section>

 <!--    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Daniel Chen</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Chen-Daniel.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Jared Lander</h5>
                        <p class="subtitle">Founder & CEO,<br>Lander Analytics</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lander-Jared.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>


         <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Andy Gelman</h5>
                        <p class="subtitle">Statistics Professor,<br>Columbia University</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Gelman-Andy.jpg" alt="" class="img-responsive img-circle" /></div>

                  </div>
                </div>
              </div>
            </div>


           <div class="col-xs-6 col-sm-3 col-md-3">
              <div class="wow fadeInUp" data-wow-delay="0.6s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Saar Golde</h5>
                        <p class="subtitle">Chief Data Scientist,<br>Knowledgent</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Golde-Saar.jpg" alt="" class="img-responsive img-circle" /></div>

                    </div>
                </div>
              </div>
            </div>

        </div>
    </div>

    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Vivian Peng</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Peng-Vivian.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Bryan Lewis</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lewis-Bryan.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>


         <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Max Richman</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Richman-Max.jpg" alt="" class="img-responsive img-circle" /></div>

                  </div>
                </div>
              </div>
            </div>


           <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Harlan Harris</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Harris-Harlan.jpg" alt="" class="img-responsive img-circle" /></div>

                    </div>
                </div>
              </div>
            </div>

        </div>
    </div>

    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Dr. Hilary Parker</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Parker-Hilary.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Daniel Lee</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lee-Daniel.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>


         <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Mike Dewar</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Dewar-Mike.jpg" alt="" class="img-responsive img-circle" /></div>

                  </div>
                </div>
              </div>
            </div>


           <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>James Powell</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Powell-James.jpg" alt="" class="img-responsive img-circle" /></div>

                    </div>
                </div>
              </div>
            </div>

        </div>
    </div>


    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Chris Wiggins</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Wiggins-Chris.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>



        </div>
    </div> -->

