
   <section id="sponsors" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>Sponsors</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
       </div>
      </div>
      </div>
    </div>

    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row agenda-row">
        <div class="col-md-12">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
            <p><strong>Platinum Sponsors</strong></p>
          </div>
        </div>
        </div>

      <div class="row sponsor-row">

                  <div class="col-xs-0 col-sm-2 col-md-2 sponsor-img">
                        <!-- <div><a href="http://www.brewlabars.com/" target="_black"><img src="" alt="" class="img-responsive sponsor" /></a></div> -->
                  </div>

                   <div class="col-xs-6 col-sm-4 col-md-4 sponsor-img">
                        <div><a href="https://www.microsoft.com/en-us/" target="_black"><img src="http://rd.work-bench.com/images/microsoft.jpg" alt="" class="img-responsive sponsor" /></a></div>

                  </div>

                   <div class="col-xs-6 col-sm-4 col-md-4 sponsor-img">
                        <div><a href="http://cater2.me/" target="_black"><img src="http://rd.work-bench.com/images/IBM-blue.png" alt="" class="img-responsive sponsor" /></a></div>

                  </div>


                  <div class="col-xs-0 col-sm-2 col-md-2 sponsor-img">
                        <!-- <div><a href="http://www.brewlabars.com/" target="_black"><img src="" alt="" class="img-responsive sponsor" /></a></div> -->
                  </div>

            </div>

<br><br>

      <div class="row agenda-row">
        <div class="col-md-12">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
              <p><strong>Gold Sponsors</strong></p>
          </div>
        </div>
        </div>





      <div class="row sponsor-row">



         <div class="col-xs-4 col-sm-4 col-md-4 sponsor-img">
                        <div><a href="https://www.rstudio.com/" target="_black"><img src="http://rd.work-bench.com/images/rstudio-logo.png" alt="" class="img-responsive sponsor" /></a></div>
         </div>

         <div class="col-xs-4 col-sm-4 col-md-4 sponsor-img">
                        <div><a href="http://www.b23.io/" target="_black"><img src="http://rd.work-bench.com/images/b23.jpg" alt="" class="img-responsive sponsor" /></a></div>
         </div>         


         <div class="col-xs-4 col-sm-4 col-md-4 sponsor-img">
                        <div><a href="https://www.datacamp.com/" target="_black"><img src="http://rd.work-bench.com/images/DataCamp.jpg" alt="" class="img-responsive sponsor" /></a></div>
         </div>






</div>



<br><br>
      <div class="row agenda-row">
        <div class="col-md-12">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
              <p><strong>Silver Sponsors</strong></p>
          </div>
        </div>
        </div>

<!-- 
         <div class="col-xs-6 col-sm-4 col-md-4 sponsor-img">
                        <div><a href="https://www.pearson.com/" target="_black"><img src="http://rd.work-bench.com/images/pearson-logo-white-2x.png" alt="" class="img-responsive sponsor" /></a></div>
         </div>


         <div class="col-xs-6 col-sm-4 col-md-4 sponsor-img">
                        <div><a href="http://alluvium.io/" target="_black"><img src="http://rd.work-bench.com/images/alluvium.png" alt="" class="img-responsive sponsor" /></a></div>
            </div>
 -->


<!--           <div class="col-xs-6 col-sm-4 col-md-4 sponsor-img">
                        <div><a href="http://www.ebay.com/" target="_black"><img src="http://rd.work-bench.com/images/ebay.png" alt="" class="img-responsive sponsor" /></a></div>
         </div>


         <div class="col-xs-6 col-sm-4 col-md-4 sponsor-img">
                        <div><a href="https://www.att.com/" target="_black"><img src="http://rd.work-bench.com/images/att.png" alt="" class="img-responsive sponsor" /></a></div>
            </div> -->

      <div class="row sponsor-row">


         <div class="col-xs-3 col-sm-4 col-md-4 sponsor-img"></div>


         <div class="col-xs-6 col-sm-4 col-md-4 sponsor-img">
            <div><a href="http://www.dataiku.com/" target="_black"><img src="http://rd.work-bench.com/images/dataiku.jpg" alt="" class="img-responsive sponsor" /></a></a></div>
         </div>

         <div class="col-xs-3 col-sm-4 col-md-4 sponsor-img"></div>


      </div>




<br><br>
      <div class="row agenda-row">
        <div class="col-md-12">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
              <p><strong>Supporting Sponsors</strong></p>
          </div>
        </div>
        </div>




      <div class="row sponsor-row">

         <div class="col-xs-4 col-sm-4 col-md-4 sponsor-img">
            <div><a href="http://www.brewlabars.com/" target="_black"><img src="http://rd.work-bench.com/images/brewla-logo.png" alt="" class="img-responsive sponsor" /></a></div> 
         </div>

         <div class="col-xs-4 col-sm-4 col-md-4 sponsor-img">
                        <div><a href="https://www.etsy.com/shop/NausicaaDistribution" target="_black"><img src="http://rd.work-bench.com/images/nausicaa-logo.jpg" alt="" class="img-responsive sponsor" /></a></div>
         </div>         


         <div class="col-xs-4 col-sm-4 col-md-4 sponsor-img">
                        <div><a href="http://www.datakind.org/" target="_black"><img src="http://rd.work-bench.com/images/DataKind_orange.png" alt="" class="img-responsive sponsor" /></a></div>
         </div>


</div>

<br><br>
      <div class="row sponsor-row">

         <div class="col-xs-4 col-sm-4 col-md-4 sponsor-img">
                        <div><a href="https://www.flatiron.com/" target="_black"><img src="http://rd.work-bench.com/images/flatiron-health.jpg" alt="" class="img-responsive sponsor" /></a></div>
         </div>

         <div class="col-xs-6 col-sm-4 col-md-4 sponsor-img">
                        <div><a href="https://www.pearson.com/" target="_black"><img src="http://rd.work-bench.com/images/pearson-logo-white-2x.png" alt="" class="img-responsive sponsor" /></a></div>
         </div>   


         <div class="col-xs-4 col-sm-4 col-md-4 sponsor-img">
                        <div><a href="http://www.datakind.org/" target="_black"><img src="http://rd.work-bench.com/images/r-brain.jpg" alt="" class="img-responsive sponsor" /></a></div>
         </div>



</div>


          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="wow fadeInUp" data-wow-delay="0.4">
              <div class="service-desc">
            <h4><a href="mailto:jared@jaredlander.com?Subject=Sponsor%20Inquiry">Sponsor Inquiry</a></h2>

              </div>
            </div>
          </div>
        </div>
    </div>

</section>
