  <!-- Section: about -->
<section id="speakers" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>2015 Talks & Videos</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
       </div>
      </div>
      </div>
    </div>

<div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row" style="text-align:center;">

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Max Kuhn & Zachary Deane–Mayer</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/hKuQ3PxXxKErHM" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/Work-Bench/nobody-knows-what-its-like-to-be-the-bad-man" title="Nobody Knows What It’s Like To Be the Bad Man: The Development Process for the Caret Package" target="_blank">Nobody Knows What It’s Like To Be the Bad Man: The Development Process for the Caret Package</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Joseph Rickert</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/FSjifvspEMkAxt" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/Work-Bench/reproducibility-with-checkpoint-rro" title="Reproducibility with Checkpoint &amp; RRO" target="_blank">Reproducibility with Checkpoint &amp; RRO</a> </strong><br>&nbsp; </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Andrew Gelman</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/hOA2YmPIoEmSJW" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/Work-Bench/but-when-you-call-me-bayesian-i-know-im-not-the-only-one" title="But when you call me Bayesian I know I’m not the only one" target="_blank">But when you call me Bayesian I know I’m not the only one</a> </strong></div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Mike Dewar</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/Jsg4R9z_Z7M" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/Jsg4R9z_Z7M" title="But when you call me Bayesian I know I’m not the only one" target="_blank">The Data Perspective</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>





        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Michael Kane</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/YqC_2aVb8pU" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/YqC_2aVb8pU" title="But when you call me Bayesian I know I’m not the only one" target="_blank">Practical Principles for Scalable Statistical Analysis</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>





        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Abhi Patel</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/88rIMo_2Vfc" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/88rIMo_2Vfc" title="But when you call me Bayesian I know I’m not the only one" target="_blank">Dynamic Market Structure Discovery: Automated Detection with Machine Learning </a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Chris Wiggins</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/yuJHNy29SJ0" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/yuJHNy29SJ0" title="But when you call me Bayesian I know I’m not the only one" target="_blank">Engagement & Reality
</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        </div>
    </div>
</section>

 <!--    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Daniel Chen</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Chen-Daniel.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Jared Lander</h5>
                        <p class="subtitle">Founder & CEO,<br>Lander Analytics</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lander-Jared.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>


         <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="wow fadeInUp" data-wow-delay="0.5s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Andy Gelman</h5>
                        <p class="subtitle">Statistics Professor,<br>Columbia University</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Gelman-Andy.jpg" alt="" class="img-responsive img-circle" /></div>

                  </div>
                </div>
              </div>
            </div>


           <div class="col-xs-6 col-sm-3 col-md-3">
              <div class="wow fadeInUp" data-wow-delay="0.6s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Saar Golde</h5>
                        <p class="subtitle">Chief Data Scientist,<br>Knowledgent</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Golde-Saar.jpg" alt="" class="img-responsive img-circle" /></div>

                    </div>
                </div>
              </div>
            </div>

        </div>
    </div>

    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Vivian Peng</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Peng-Vivian.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Bryan Lewis</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lewis-Bryan.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>


         <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Max Richman</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Richman-Max.jpg" alt="" class="img-responsive img-circle" /></div>

                  </div>
                </div>
              </div>
            </div>


           <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Harlan Harris</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Harris-Harlan.jpg" alt="" class="img-responsive img-circle" /></div>

                    </div>
                </div>
              </div>
            </div>

        </div>
    </div>

    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Dr. Hilary Parker</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Parker-Hilary.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Daniel Lee</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lee-Daniel.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>


         <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Mike Dewar</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Dewar-Mike.jpg" alt="" class="img-responsive img-circle" /></div>

                  </div>
                </div>
              </div>
            </div>


           <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>James Powell</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Powell-James.jpg" alt="" class="img-responsive img-circle" /></div>

                    </div>
                </div>
              </div>
            </div>

        </div>
    </div>


    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Chris Wiggins</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Wiggins-Chris.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>



        </div>
    </div> -->

