  <!-- Section: about -->
<section id="speakers" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.2s">
          <div class="section-heading">

          <br>
          <br>
          <br>


          <h2>2017 Videos</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
       </div>
      </div>
      </div>
    </div>

<div class="container">
      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row" style="text-align:center;">



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Day 1 Opening Remarks</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/0jyaVQNTEP0" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/0jyaVQNTEP0" title="Day 1 Opening Remarks" target="_blank">Day 1 Opening Remarks</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Day 1 Closing Remarks</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/Lw4maNDBEY8" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/Lw4maNDBEY8" title="Day 1 Closing Remarks" target="_blank">Day 1 Closing Remarks</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>

</div>

<div class="row" style="text-align:center;">

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Ricardo Bion, Airbnb</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/70luTZU-D3E" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/70luTZU-D3E" title="How R Helps Airbnb Make the Most of Its Data" target="_blank">How R Helps Airbnb Make the Most of Its Data</a><br></strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Serge Belongie, Cornell University</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/mD5cuMza6Rc" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/mD5cuMza6Rc" title="Fine Grained Visual Category Recognition and Perceptual Embedding" target="_blank">Fine Grained Visual Category Recognition and Perceptual Embedding</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>
</div>
<div class="row" style="text-align:center;">

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Kelly O’Briant, B23</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/WgIGM6yn3HA" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/WgIGM6yn3HA" title="An R Cloud Computing Lifeline: The Missing Manual for Running R on Amazon Cloud" target="_blank">An R Cloud Computing Lifeline: The Missing Manual for Running R on Amazon Cloud</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Catherine Zhou, JetBlue</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/5BnCMS109Ig" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/5BnCMS109Ig" title="R Makes the World Go ‘Round: Data Driven Decision Making at JetBlue" target="_blank">R Makes the World Go ‘Round: Data Driven Decision Making at JetBlue</a><br>&nbsp;<br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>

</div>
<div class="row" style="text-align:center;">

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Jared P. Lander, Lander Analytics</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/OyBOvtiqf1E" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/OyBOvtiqf1E" title="Fun with R" target="_blank">Fun with R</a></strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Dan Chen, Virginia Tech</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/6VO_CTtGlnk" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/6VO_CTtGlnk" title="So You Want to be a Data Scientist?" target="_blank">So You Want to be a Data Scientist?</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>


</div>
<div class="row" style="text-align:center;">

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>David Robinson, Stack Overflow</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/WEwFckGPRzU" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/WEwFckGPRzU" title="We R What We Ask: The Landscape of R Users on Stack Overflow" target="_blank">We R What We Ask: The Landscape of R Users on Stack Overflow</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Andrew Gelman, Columbia</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/cuE9eHSbjNI" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/cuE9eHSbjNI" title="Theoretical Statistics is the Theory of Applied Statistics: How to Think About What We Do" target="_blank">Theoretical Statistics is the Theory of Applied Statistics: How to Think About What We Do</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>

</div>

<div class="row" style="text-align:center;">

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>JD Long, RenaissanceRe</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/P7VnKgVMLvY" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/P7VnKgVMLvY" title="The Unreasonable Effectiveness of Empathy - The killer skill needed for a successful technical career" target="_blank">The Unreasonable Effectiveness of Empathy - The killer skill needed for a successful technical career</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Catherine Cao, IBM</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/Fv6m4qu18Ws" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="hhttps://youtu.be/Fv6m4qu18Ws" title="Experience R in the Cloud: Empower Insurance Operations from Insights to Action" target="_blank">Experience R in the Cloud: Empower Insurance Operations from Insights to Action</a><br>&nbsp;<br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>

</div>
<div class="row" style="text-align:center;">


        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Reenah Nahum Muldavski, Bidalgo</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/Ya5Jvw8mVMM" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/Ya5Jvw8mVMM" title="R: From Backend to Production" target="_blank">R: From Backend to Production</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>






        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Deborah Berebichez, Discovery Channel</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/tqde_A08lIo" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/tqde_A08lIo" title="Things about the Future and the Future of Things" target="_blank">Things about the Future and the Future of Things</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>

</div>
<div class="row" style="text-align:center;">

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Lixun Zhang, Microsoft</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/m7mSxR3pEcI" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/m7mSxR3pEcI" title="R in Financial Services: Challenges and Opportunities" target="_blank">R in Financial Services: Challenges and Opportunities<br>&nbsp;</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>David Robinson, Stack Overflow</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/pxwGIZlPKT0" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/pxwGIZlPKT0" title="Live Tweeting: Qualitative and Quantitative Advice" target="_blank">Live Tweeting: Qualitative and Quantitative Advice</a> <br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>


</div>
<div class="row" style="text-align:center;">

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Day 2 Opening Remarks</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/-kkni1_pJzU" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/-kkni1_pJzU" title="Day 2 Opening Remarks" target="_blank">Day 2 Opening Remarks<br></a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Day 2 Closing Remarks</h5>
                            <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/YjrdEb0QuxE" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/YjrdEb0QuxE" title="Day 2 Closing Remarks" target="_blank">Day 2 Closing Remarks<br>&nbsp;</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>

</div>
<div class="row" style="text-align:center;">

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Sandy Griffith, Flatiron Health</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/5JYiNeWOtuw" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/5JYiNeWOtuw" title="Publication Hacking: How We Answered a Research Question and Wrote a Manuscript in Only Two Days" target="_blank">Publication Hacking: How We Answered a Research Question and Wrote a Manuscript in Only Two Days</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Friederike Schüür, Fast Forward Labs</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/xcLjjeKzU-c"" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/xcLjjeKzU-c" title="The Humble Programmer Data Scientist: Essence and Accident in Software Engineering Data Science" target="_blank">The Humble Programmer Data Scientist: Essence and Accident in Software Engineering Data Science<br>&nbsp;</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>

</div>
<div class="row" style="text-align:center;">

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Ramnath Vaidyanathan, DataCamp</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/gf6KrnXLs9I" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/gf6KrnXLs9I" title="Harnessing the Power of JavaScript for Data Science" target="_blank">Harnessing the Power of JavaScript for Data Science</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Michael Kane</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/7b6YndeZMhk" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/7b6YndeZMhk" title="Using Human Mobility Data to Assess Public Circulation Health" target="_blank">Using Human Mobility Data to Assess Public Circulation Health<br>&nbsp;</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>

</div>
<div class="row" style="text-align:center;">



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Mike Malecki and Neal Richardson</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/2SEdp-28KGQ" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/2SEdp-28KGQ" title="From Agreeing to Marching to Organizing: OSS Needs You" target="_blank">From Agreeing to Marching to Organizing: OSS Needs You<br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Bryan Lewis</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/bdyGH2WvV6A" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/bdyGH2WvV6A" title="threejs: less cruft, more awesome!" target="_blank">threejs: less cruft, more awesome!<br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>


</div>
<div class="row" style="text-align:center;">




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Dan Whitenack, Pachyderm</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/rfKRdya1whE" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/rfKRdya1whE" title="Enabling reproducibility at scale with R and Pachyderm" target="_blank">Enabling reproducibility at scale with R and Pachyderm</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Jon Keane, Mattersight</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/i7eYjmOj8Dg" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/i7eYjmOj8Dg" title="Building a Predictive Early Intervention System to Prevent Adverse Police Incidents" target="_blank">Building a Predictive Early Intervention System to Prevent Adverse Police Incidents <br>&nbsp;</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>


</div>
<div class="row" style="text-align:center;">


        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Better Packages through Peer Review: Lessons from rOpenSci</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/Dc6qnwbJbTU" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/Dc6qnwbJbTU" title="Better Packages through Peer Review: Lessons from rOpenSci target="_blank">Better Packages through Peer Review: Lessons from rOpenSci</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Wes McKinney, Two Sigma</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/pPyYtYU64-c" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/pPyYtYU64-c" title="Towards Interoperable Data Frames target="_blank">Towards Interoperable Data Frames</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



</div>
<div class="row" style="text-align:center;">




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Julia Silge, Stack Overflow</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/0poJP8WQxew" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/0poJP8WQxew" title="Text Mining, the Tidy Way" target="_blank">Text Mining, the Tidy Way</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Sean Lopp, RStudio</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/kuSQgswZdr8" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/kuSQgswZdr8" title="RStudio Tips and Tricks" target="_blank">RStudio Tips and Tricks</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



</div>
<div class="row" style="text-align:center;">

<div class="col-xs-0 col-sm-3 col-md-3"></div>

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div>
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Jim Klucar, Immuta</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/yu1uK0FR5es" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/yu1uK0FR5es" title="Don't Let Lawyers Ruin Your Analytics" target="_blank">Don't Let Lawyers Ruin Your Analytics</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>        
<div class="col-xs-0 col-sm-3 col-md-3"></div>

        </div>
    </div>
</section>

 

 <!--    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-3 col-md-3">
          <div>
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Daniel Chen</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Chen-Daniel.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3">
          <div>
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Jared Lander</h5>
                        <p class="subtitle">Founder & CEO,<br>Lander Analytics</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lander-Jared.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>


         <div class="col-xs-6 col-sm-3 col-md-3">
          <div>
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Andy Gelman</h5>
                        <p class="subtitle">Statistics Professor,<br>Columbia University</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Gelman-Andy.jpg" alt="" class="img-responsive img-circle" /></div>

                  </div>
                </div>
              </div>
            </div>


           <div class="col-xs-6 col-sm-3 col-md-3">
              <div class="wow fadeInUp" data-wow-delay="0.6s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Saar Golde</h5>
                        <p class="subtitle">Chief Data Scientist,<br>Knowledgent</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Golde-Saar.jpg" alt="" class="img-responsive img-circle" /></div>

                    </div>
                </div>
              </div>
            </div>

        </div>
    </div>

    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Vivian Peng</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Peng-Vivian.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Bryan Lewis</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lewis-Bryan.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>


         <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Max Richman</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Richman-Max.jpg" alt="" class="img-responsive img-circle" /></div>

                  </div>
                </div>
              </div>
            </div>


           <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Harlan Harris</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Harris-Harlan.jpg" alt="" class="img-responsive img-circle" /></div>

                    </div>
                </div>
              </div>
            </div>

        </div>
    </div>

    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Dr. Hilary Parker</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Parker-Hilary.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Daniel Lee</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lee-Daniel.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>


         <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Mike Dewar</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Dewar-Mike.jpg" alt="" class="img-responsive img-circle" /></div>

                  </div>
                </div>
              </div>
            </div>


           <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>James Powell</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Powell-James.jpg" alt="" class="img-responsive img-circle" /></div>

                    </div>
                </div>
              </div>
            </div>

        </div>
    </div>


    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Chris Wiggins</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Wiggins-Chris.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>



        </div>
    </div> -->

