  <!-- Section: about -->
<section id="speakers" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.2s">
          <div class="section-heading">

          <br>
          <br>
          <br>


          <h2>2017 Videos</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
       </div>
      </div>
      </div>
    </div>

<div class="container">
      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row" style="text-align:center;">



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Day 1 Opening Remarks</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/0jyaVQNTEP0" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/0jyaVQNTEP0" title="Day 1 Opening Remarks" target="_blank">Day 1 Opening Remarks</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Day 1 Closing Remarks</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/Lw4maNDBEY8" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/Lw4maNDBEY8" title="Day 1 Closing Remarks" target="_blank">Day 1 Closing Remarks</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Ricardo Bion, Airbnb</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/70luTZU-D3E" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/70luTZU-D3E" title="How R Helps Airbnb Make the Most of Its Data" target="_blank">How R Helps Airbnb Make the Most of Its Data</a><br></strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Serge Belongie, Cornell University</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/mD5cuMza6Rc" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/mD5cuMza6Rc" title="Fine Grained Visual Category Recognition and Perceptual Embedding" target="_blank">Fine Grained Visual Category Recognition and Perceptual Embedding</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Kelly O’Briant, B23</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/WgIGM6yn3HA" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/WgIGM6yn3HA" title="An R Cloud Computing Lifeline: The Missing Manual for Running R on Amazon Cloud" target="_blank">An R Cloud Computing Lifeline: The Missing Manual for Running R on Amazon Cloud</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Catherine Zhou, JetBlue</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/5BnCMS109Ig" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/5BnCMS109Ig" title="R Makes the World Go ‘Round: Data Driven Decision Making at JetBlue" target="_blank">R Makes the World Go ‘Round: Data Driven Decision Making at JetBlue</a><br>&nbsp;<br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Jared P. Lander, Lander Analytics</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/OyBOvtiqf1E" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/OyBOvtiqf1E" title="Fun with R" target="_blank">Fun with R</a></strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Dan Chen, Virginia Tech</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/6VO_CTtGlnk" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/6VO_CTtGlnk" title="So You Want to be a Data Scientist?" target="_blank">So You Want to be a Data Scientist?</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>David Robinson, Stack Overflow</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/WEwFckGPRzU" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/WEwFckGPRzU" title="We R What We Ask: The Landscape of R Users on Stack Overflow" target="_blank">We R What We Ask: The Landscape of R Users on Stack Overflow</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Andrew Gelman, Columbia</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/cuE9eHSbjNI" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/cuE9eHSbjNI" title="Theoretical Statistics is the Theory of Applied Statistics: How to Think About What We Do" target="_blank">Theoretical Statistics is the Theory of Applied Statistics: How to Think About What We Do</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>JD Long, RenaissanceRe</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/P7VnKgVMLvY" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/P7VnKgVMLvY" title="The Unreasonable Effectiveness of Empathy - The killer skill needed for a successful technical career" target="_blank">The Unreasonable Effectiveness of Empathy - The killer skill needed for a successful technical career</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Catherine Cao, IBM</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/Fv6m4qu18Ws" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="hhttps://youtu.be/Fv6m4qu18Ws" title="Experience R in the Cloud: Empower Insurance Operations from Insights to Action" target="_blank">Experience R in the Cloud: Empower Insurance Operations from Insights to Action</a><br>&nbsp;<br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Reenah Nahum Muldavski, Bidalgo</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/Ya5Jvw8mVMM" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/Ya5Jvw8mVMM" title="R: From Backend to Production" target="_blank">R: From Backend to Production</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>






        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Deborah Berebichez, Discovery Channel</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/tqde_A08lIo" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/tqde_A08lIo" title="Things about the Future and the Future of Things" target="_blank">Things about the Future and the Future of Things</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Lixun Zhang, Microsoft</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/m7mSxR3pEcI" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/m7mSxR3pEcI" title="R in Financial Services: Challenges and Opportunities" target="_blank">R in Financial Services: Challenges and Opportunities<br>&nbsp;</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>David Robinson, Stack Overflow</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/pxwGIZlPKT0" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/pxwGIZlPKT0" title="Live Tweeting: Qualitative and Quantitative Advice" target="_blank">Live Tweeting: Qualitative and Quantitative Advice</a> <br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Niels Bantilan (Video)</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/21BZafeQXA0" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/21BZafeQXA0" title="What We Learned Building an R-Python Hybrid Predictive Analytics Pipeline" target="_blank">What We Learned Building an R-Python Hybrid Predictive Analytics Pipeline<br></a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Justin Kamerman (Video)</h5>
                            <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/ep-xdreQrj0" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/ep-xdreQrj0" title="Building Scalable Prediction Services in R " target="_blank">Building Scalable Prediction Services in R<br>&nbsp;</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Joe Rickert (Video)</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/9Yn6PXd-GFo" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/9Yn6PXd-GFo" title="But when you call me Bayesian I know I’m not the only one" target="_blank">Inside the R Consortium
<br>&nbsp;</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Ivor Cribben (Video)</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/zxgTz8uSAgY" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/zxgTz8uSAgY" title="R Packages for Time-Varying Networks and Extremal Dependence" target="_blank">R Packages for Time-Varying Networks and Extremal Dependence<br>&nbsp;</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Jared Lander (Video)</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/m6nUdoP6894" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/m6nUdoP6894" title="R for Everything" target="_blank">R for Everything</a><br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Harry Mendel (Video)</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/LJ9nQL0tCAo" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/LJ9nQL0tCAo" title="DataFrames: The Good, Bad, and Ugly" target="_blank">Behavior Quantified <br>&nbsp;</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>





        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>David Robinson (Video)</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/7VGPUBWGv6g" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/7VGPUBWGv6g" title="Broom: Converting Statistical Models to Tidy Data Frames" target="_blank">Broom: Converting Statistical Models to Tidy Data Frames <br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Daniel Lee (Video)</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/zehGY5feCcA" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/zehGY5feCcA" title="Iterating Over Statistical Models: NCAA Tournament Edition" target="_blank">Iterating Over Statistical Models: NCAA Tournament Edition<br>&nbsp;</strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>







        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Claire O'Connell (Video)</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/iW8KrFmJJcY" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/iW8KrFmJJcY" title="What do Authors, Neurons, and Enterprise Suppliers Have in Common?" target="_blank">What do Authors, Neurons, and Enterprise Suppliers Have in Common?</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Bryan Lewis (Video)</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/PM7O6EGakKY" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/PM7O6EGakKY" title="Thinking Small About Big Data" target="_blank">Thinking Small About Big Data <br>&nbsp;</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>





        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Alp Kucukelbir (Video)</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/7W4QYwQZWjA" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/7W4QYwQZWjA" title="One Algorithm to Rule Them All: How to Automate Statistical Computation" target="_blank">One Algorithm to Rule Them All: How to Automate Statistical Computation</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>









        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Max Kuhn (Video)</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/ul2zLF61CyY" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="I Don't Want to Be a Dummy! Encoding Predictors for Trees" target="_blank">I Don't Want to Be a Dummy! Encoding Predictors for Trees</a> </strong></strong> </div>

                        </div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        </div>
    </div>
</section>

  <!-- Section: about -->
<section id="speakers" class="home-section text-center no-padding-important">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <div class="wow fadeInDown" data-wow-delay="0.2s">
          <div class="section-heading">
          <h2>2016 Presentations</h2>
          <i class="fa fa-2x fa-angle-down"></i>

          </div>
          </div>
       </div>
      </div>
      </div>
    </div>

<div class="container">
      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row" style="text-align:center;">


        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Vivian Peng (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/C7mH62X8lCQU0q" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/the-feels" title="The Feels" target="_blank">The Feels</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Joe Rickert (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/4NV5bxvjWSISDZ" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/inside-the-r-consortium" title="Inside the R Consortium" target="_blank">Inside the R Consortium</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Justin Kamerman (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/8m8fTZtMzq2ll8" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/building-scalable-prediction-services-in-r" title="Building Scalable Prediction Services in R" target="_blank">Building Scalable Prediction Services in R</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Josh Katz (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/okfD1oeX0OVfLW" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/using-r-at-nyt-graphics" title="Using R at NYT Graphics" target="_blank">Using R at NYT Graphics</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Bas Van Schaik (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/k20t6LuqyFjezj" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/data-science-challenges-in-personal-program-analysis" title="ata Science Challenges in Personal Program Analysis" target="_blank">Data Science Challenges in Personal Program Analysis</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Alp Kucukelbir (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/czD6nmT8jKu1YP" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/one-algorithm-to-rule-them-all-how-to-automate-statistical-computation" title="One Algorithm to Rule Them All: How to Automate Statistical Computation" target="_blank">One Algorithm to Rule Them All: How to Automate Statistical Computation</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Stefan Karpinski (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/259eZvfljeb4S9" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/julia-r-for-data-science" title="Julia + R for Data Science" target="_blank">Julia + R for Data Science</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Jared Lander (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/2QZyUJgdLrNAmr" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/r-for-everything" title="R for Everything" target="_blank">R for Everything</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Wes McKinney (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/6M7mnFLRQjcpEt" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/improving-data-interoperability-for-python-and-r" title="Improving Data Interoperability for Python and R" target="_blank">Improving Data Interoperability for Python and R</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Ivor Cribben (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/FqDRpAEEUg9ffv" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/r-packages-for-timevarying-networks-and-extremal-dependence" title="NR Packages for Time-Varying Networks and Extremal Dependence" target="_blank">R Packages for Time-Varying Networks and Extremal Dependence</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Hilary Parker (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/fa7Pux4Sj583T8" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/scaling-analysis-responsibly" title="Scaling Analysis Responsibly" target="_blank">Scaling Analysis Responsibly</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Ben Lerner (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/hwJa55WqRbWQoV" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/highperformance-python" title="High-Performance Python" target="_blank">High-Performance Python</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Elena Grewal (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/g9eZ0rToGhkpqq" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/scaling-data-science-at-airbnb" title="Scaling Data Science at Airbnbe" target="_blank">Scaling Data Science at Airbnb</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Michael Malekci & Neal Richardson (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/xWQppWIcVYBRRD" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/dr-datascience-or-how-i-learned-to-stop-munging-and-love-tests" target="_blank">Dr. Datascience or: How I Learned to Stop Munging and Love Tests</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Daniel Lee (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/cx8emzzbe96iCu" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/iterating-over-statistical-models-ncaa-tournament-edition" title="Iterating over statistical models: NCAA tournament edition" target="_blank">Iterating over statistical models: NCAA tournament edition</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Drew Conway (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/ItVsFm79Ek9s4u" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/reflection-on-the-data-science-profession-in-nyc" title="Reflection on the Data Science Profession in NYC" target="_blank">Reflection on the Data Science Profession in NYC</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Bryan Lewis (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/y72vgSfswZ5K4r" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/thinking-small-about-big-data" title="Thinking Small About Big Data" target="_blank">Thinking Small About Big Data</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Max Kuhn (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/y0O8cELY57MGTB" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/i-dont-want-to-be-a-dummy-encoding-predictors-for-trees" title="I Don't Want to Be a Dummy! Encoding Predictors for Trees" target="_blank">I Don't Want to Be a Dummy! Encoding Predictors for Trees</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Todd Schneider (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/dNWPxNBjE1FsM3" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/analyzing-nyc-transit-data" title="Analyzing NYC Transit Data" target="_blank">Analyzing NYC Transit Data</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Andrew Gelman (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/7hSkd5EiVQgRqx" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/the-political-impact-of-social-penumbras" title="The Political Impact of Social Penumbras" target="_blank">The Political Impact of Social Penumbras</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>David Robinson (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/c2IdFEzXqufRfp" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/broom-converting-statistical-models-to-tidy-data-frames" title="Broom: Converting Statistical Models to Tidy Data Frames" target="_blank">Broom: Converting Statistical Models to Tidy Data Frames</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Niels Bantilan (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/Hv4PWv9L5WKcAU" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/what-we-learned-building-an-rpython-hybrid-predictive-analytics-pipeline" title="What We Learned Building an R-Python Hybrid Predictive Analytics Pipeline" target="_blank">What We Learned Building an R-Python Hybrid Predictive Analytics Pipeline</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>



        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Sandy Griffith (Presentation)</h5>
                        <p class="subtitle"></p>

                        <div class="avatar">

                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/FTgG3YG494tyMt" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/Work-Bench/a-statistician-walks-into-a-tech-company-r-at-a-rapidly-scaling-healthcare-startup" title="A Statistician Walks into a Tech Company: R at a Rapidly Scaling Healthcare Startup" target="_blank">A Statistician Walks into a Tech Company: R at a Rapidly Scaling Healthcare Startup</a> </strong></a></strong> </div></div>

<!--                         <ul class="team-social">
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li class="social-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                        </ul> -->

              </div>
            </div>
          </div>
        </div>


          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="wow fadeInUp" data-wow-delay="0.5">
              <div class="service-desc"><br>
            <h4><a href="/2015">See 2015 Videos & Presentations</a></h4>

              </div>
            </div>
          </div>

<!--
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-1 boxed-grey">
              <div class="inner">
            <h5>Abhi Patel</h5>
                        <p class="subtitle"> </p>

                        <div class="avatar">

                        <iframe src="https://www.youtube.com/embed/88rIMo_2Vfc" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://youtu.be/88rIMo_2Vfc" title="But when you call me Bayesian I know I’m not the only one" target="_blank">Dynamic Market Structure Discovery: Automated Detection with Machine Learning </a> </strong></strong> </div>

                        </div>



              </div>
            </div>
          </div>
        </div> -->







        </div>
    </div>
</section>



 <!--    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Daniel Chen</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Chen-Daniel.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Jared Lander</h5>
                        <p class="subtitle">Founder & CEO,<br>Lander Analytics</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lander-Jared.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>


         <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Andy Gelman</h5>
                        <p class="subtitle">Statistics Professor,<br>Columbia University</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Gelman-Andy.jpg" alt="" class="img-responsive img-circle" /></div>

                  </div>
                </div>
              </div>
            </div>


           <div class="col-xs-6 col-sm-3 col-md-3">
              <div class="wow fadeInUp" data-wow-delay="0.6s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Saar Golde</h5>
                        <p class="subtitle">Chief Data Scientist,<br>Knowledgent</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Golde-Saar.jpg" alt="" class="img-responsive img-circle" /></div>

                    </div>
                </div>
              </div>
            </div>

        </div>
    </div>

    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Vivian Peng</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Peng-Vivian.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Bryan Lewis</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lewis-Bryan.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>


         <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Max Richman</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Richman-Max.jpg" alt="" class="img-responsive img-circle" /></div>

                  </div>
                </div>
              </div>
            </div>


           <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>Harlan Harris</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Harris-Harlan.jpg" alt="" class="img-responsive img-circle" /></div>

                    </div>
                </div>
              </div>
            </div>

        </div>
    </div>

    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Dr. Hilary Parker</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Parker-Hilary.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Daniel Lee</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Lee-Daniel.jpg" alt="" class="img-responsive img-circle" /></div>

               </div>
              </div>
            </div>
          </div>


         <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Mike Dewar</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Dewar-Mike.jpg" alt="" class="img-responsive img-circle" /></div>

                  </div>
                </div>
              </div>
            </div>


           <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
                <div class="team boxed-grey">
                    <div class="inner">
            <h5>James Powell</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Powell-James.jpg" alt="" class="img-responsive img-circle" /></div>

                    </div>
                </div>
              </div>
            </div>

        </div>
    </div>


    <div class="container">

      <div class="row">
       <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
       </div>
      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-3 col-md-3">
<div class="wow fadeInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
            <h5>Chris Wiggins</h5>
                        <p class="subtitle">Title,<br>Company</p>
                        <div class="avatar"><img src="http://rd.work-bench.com/images/Wiggins-Chris.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>



        </div>
    </div> -->

